body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

h1 {
    color: darkblue;
    margin-top: 20px;
}

.nav {
    margin: 20px;
}

.nav a {
    text-decoration: none;
    margin: 10px;
    color: white;
    background-color: darkblue;
    padding: 10px 15px;
    border-radius: 5px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.image-box {
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.image-box img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}