<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
</head>
<body>

<h2>Registration Form</h2>

<form method="post">
    {% csrf_token %}

    <p>
        Full Name:
        {{ form.full_name }}
        <br>
        {{ form.full_name.errors }}
    </p>

    <p>
        Email:
        {{ form.email }}
        <br>
        {{ form.email.errors }}
    </p>

    <p>
        Password:
        {{ form.password }}
        <br>
        {{ form.password.errors }}
    </p>

    <button type="submit">Register</button>
</form>

</body>
</html>